html, body { width: 100%; height:100%; }

.navbar { margin-bottom: 0px; }
.expand, textarea { width: 100%; height: 100%;}
.border { border:1px dashed gray; border-radius:4px; }
.padded { padding: 1%; }
.flex { display: flex; }
.flex > * { flex: 1; }
.col { flex-direction: column; }
.bg-one {background: #f2f2f2;}