html, body { width: 100%; height:100%; }
textarea { resize: none; }
textarea:focus, div:focus { outline: none; }

.header {
  position:absolute;
  z-index: 1000;
}
.header > * { 
  border: 1px solid gray; 
  color: gray; 
  display: inline-block; 
  padding: 15px 15px; 
}
.header > *:hover {  }

.left { left: 0px; }
.right { right: 0px; }
.right > * { margin-left: -5px; }

.visual { background-color: lightblue; }
.text {
  position:fixed;
  float: right;
  right: 0px;
  z-index: 5;
  width: 50%;
  height: 100%;
}
.text > * {
  box-sizing: border-box;
  border: 1px dashed gray; 
  margin-bottom: -1px;
  padding: 10px 15px;
}

.flex { 
  display: flex;
  align-content: stretch;
  align-items: stretch; 
}
.flex > * { flex: 1 100%; }
.col { flex-flow: column; flex-direction: column; }
.expand { width: 100%; height: 100%; }

.inactive { background: rgba(0,0,0,0.1); }
.inactive:hover { background: rgba(0,0,0,0.2); color: white; }
.active { 
  border: 1px solid green;
  background: rgba(256,256,256,0.6); 
  color: green; 
}
.active:hover { 
  background: rgba(0,0,0,0.1); 
  color: 404040; 
}

.bg-0 { background: yellow; }
.bg-1 { background: orange; }
.bg-2 { background: pink; }
.bg-3 { background: purple; }
