<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>App Engine CMS</title>
  <link rel="shortcut icon" href="static/img/favicon.png">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="static/css.css" rel="stylesheet">
</head>

<body ng-controller="Ctrl">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Admin Bar</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="editable = !editable">Toggle Editable</a></li>
        <li><a href="#" ng-click="contact()">Contact</a></li>
        <li><a href="#" ng-click="get_data()">Get Data</a></li>
        <li><a href="#" ng-click="post_data()">Post Data</a></li>
      </ul>
    </div>
  </div>
</nav>


<h3>HTML EDITOR</h3>
<input type="text" ng-model="ddata.someString"/><br>
<h3>VISUAL EDITOR</h3>
<div contenteditable ng-model='ddata.someString'></div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.min.js"></script>
<script src="static/js.js"></script>

</body>
</html>