<section id="contact" class="contact">
  <div id="map" class="google-map" map-directive="" latitude="43.074688" longitude="-89.384294"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 contenteditable="{{admin}}">Questions & Feedback</h2>
        <p contenteditable="{{admin}}">I would love to hear from you! Send along questions, inquiries, and feedback and I will get back to you as quick as possible.  Just direct your email to info@site-title.com or use the contact form.  Thanks!</p>
      </div>
      <div class="col-sm-6">
        <br>
        <p class="text-center" contenteditable="{{admin}}">Social Links</p>
        
        <ul class="unstyled inline social">
          <li><a href="#"><i class="fa fa-phone"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        
      </div>
    </div>
  </div>
  
  <div class="contact-form text-center">
    <div class="container contact-form-inner">
      <div class="row">
        <form id="contact-form" class="contact-form" role="form" ng-submit="submit()">
            <input type="text" ng-model="contact_name" class="form-control input-lg" name="name" placeholder="Name" required>
            <input type="email" ng-model="contact_email" class="form-control input-lg" name="email" placeholder="Email" required>
            <textarea ng-model="contact_message" class="form-control input-lg" name="message" placeholder="Message" rows="5" required></textarea>
            <button type="submit" class="btn btn-custom btn-success btn-block btn-lg">Send</button>
        </form>
      </div>
    </div>
  </div>

</section>



