

    <div id="contactwrap">
    <header class="clearfix">
        <div class="container-fluid">
          <!-- <h1><b>CONTACT</b></h1> -->
<!--           <h1>POSTAL <b>987</b></h1>
          <h1>MADRID, <b>SPAIN</b></h1> -->
        </div>
      </header>
    </div>

    <div class="container-fluid">
      <div class="row contact-us">
        <div class="col-sm-4 blackzone">
          <h4>GET IN TOUCH</h4>
            <p>We love to hear the ideas, experiences, and questions of Window Pods owners - your communication helps us build the best possible indoor gardening experience.  Get in touch with us on this page, or by email at <a href="mailto:info@windowpods.org?Subject=Window%20Pods">info@windowpods.org</a></p>
        </div>

                <div class="col-sm-8">
          <form id="contact-form" role="form" ng-submit="submit()">
            <input type="text" ng-model="contact_name" name="name" placeholder="NAME" required>
            <input type="email" ng-model="contact_email" name="email" placeholder="EMAIL" required>
            <textarea ng-model="contact_message" name="message" placeholder="MESSAGE" rows="5" required></textarea>
            <button type="submit" class="send-button">{{!contact_sent ? 'SEND' : 'MESSAGE SENT, THANKS!'}}</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 greyzone">
          <h4>MAILING ADDRESS</h4>
          <p>Window Pods <br/>
            600 North Whisman Road #6 <br/>
            Mountain View, CA 94043
           </p>
          <br>
        </div>


        <div class="col-sm-4 whitezone">
          <h4>JOBS & INTERNSHIPS</h4>
          <p>We are always searching for talented individuals. If you want to work with us, just drop us an email.</p>
          <p><a href="mailto:jobs@windowpods.org?Subject=Window%20Pods">jobs@windowpods.org</a></p>
        </div>

        <div class="col-sm-4 whitezone">
          <h4>DISTRIBUTORS</h4>
          <p>If you are looking to distribute Window Pods or purchase in bulk, get in touch with us.</p>
        <p><a href="mailto:sales@windowpods.org?Subject=Window%20Pods">sales@windowpods.org</a></p>
        </div>

      </div>
    </div>
