<div class="header right" ng-show="admin">
  <i ng-click="load_page()" class="fa fa-cloud-download active"></i>
  <i ng-click="tint = !tint" class="fa fa-tint {{tint ? 'active' : 'inactive' }}"></i>
  <i ng-show="show_html" ng-click="show_parent_html = !show_parent_html" class="fa fa-bars {{show_parent_html ? 'active' : 'inactive' }}"></i>
  <i ng-click="show_html = !show_html" class="fa fa-columns {{show_html ? 'active' : 'inactive'}}"></i>
</div>

<div class="text flex col" ng-show="show_html">
  <textarea  ng-repeat="(x, html_string) in html_strings" class="border padded bg-{{tint ? x : ''}}" ng-model="html_strings[x]"></textarea>
</div>

<div class="flex">
  <div class="visual">
    <div ng-repeat="(x, html_string) in html_strings" class="bg-{{tint ? x : ''}}" contenteditable ng-model="html_strings[x]">asdfasdf</div>
  </div>
  <div ng-show="show_html">&nbsp;</div>
</div>