<div id="home" class="">
  <div class="large-6 large-offset-3">
    <h2>Current URL: {{ url }}</h2>
    <h2>Mail Sent: {{ mail_count }}</h2>

<!--     <div class="alert-box">{{ message }}</div>

    <button class="button large expand radius" ng-click="logout()">Log Out</button>

    <form ng-submit="login()">
      <input type="text" name="username" placeholder="username" ng-model="credentials.username" required/>
      <input type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
      <button type="submit">Log In</button>
    </form>

    <form ng-submit="send_json()">
      <input type="text" name="username" placeholder="username" ng-model="credentials.username" required/>
      <input type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
      <button type="submit">Log In</button>
    </form> -->

    <form ng-submit="sendmail()">
      <button type="submit">Send Email</button>
    </form>

  </div>
</div>